@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Thin.otf') format('opentype'),
         url('../fonts/NotoSansKR-Thin.woff') format('woff'),
         url('../fonts/NotoSansKR-Thin.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Thin.eot');
    font-weight:100;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Light.otf') format('opentype'),
         url('../fonts/NotoSansKR-Light.woff') format('woff'),
         url('../fonts/NotoSansKR-Light.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Light.eot');
    font-weight:300;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype'),
         url('../fonts/NotoSansKR-Regular.woff') format('woff'),
         url('../fonts/NotoSansKR-Regular.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Regular.eot');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Medium.otf') format('opentype'),
         url('../fonts/NotoSansKR-Medium.woff') format('woff'),
         url('../fonts/NotoSansKR-Medium.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Medium.eot');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Bold.otf') format('opentype'),
         url('../fonts/NotoSansKR-Bold.woff') format('woff'),
         url('../fonts/NotoSansKR-Bold.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Bold.eot');
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:'NotoSansKr';
    src: url('../fonts/NotoSansKR-Black.otf') format('opentype'),
         url('../fonts/NotoSansKR-Black.woff') format('woff'),
         url('../fonts/NotoSansKR-Black.woff2') format('woff2');
    src:url('../fonts/NotoSansKR-Black.eot');
    font-weight:900;
    font-style:normal;
    font-display:swap;
}