@import url('reset.css');
@import url('all.min.css');
@import url('weather-icons.css');
@import url('weather-icons-wind.css');
@import url('slick.css');
@import url('slick-theme.css');
@import url('notosans.css');



*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    margin:0;
}
.wrapper{
    margin:0;
    font-size: 1em;
    font-weight: 400;
    color:#000;
    font-family: 'Noto Sans KR', sans-serif;
    background-size:contain;
    background-position:center top;
    background-repeat: no-repeat;
    overflow: auto;
    position:relative;
}
h1{
    color:#000;
    font-size: 1.6em;
    font-weight: 700;
}
.container{
    width: 100%;
    position:relative;
    padding-left: 1em;
}
.city{
    color:#fff;
    font-size:2em;
    margin:30px 0 10px 30px;
}
.searchbox{
    float:right;
    display: flex;
    margin-right:20px;
    justify-content: space-around;
    margin-top:10px;
   
}
.searchbox>input{
    width:120px;
    height:25px;
    border:none;
    border-radius: 50px;
   
}
.searchbox>i{
   font-size:25px;
   margin-left:8px;
   
}

.temp{
    font-size:10em;
    font-weight: 500;
    margin-left: 30px;
    letter-spacing:-10px;
    background:-webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.small{
    font-size:0.7em;
    vertical-align: top;
    padding-left:0.1em;
}
.descript{
    font-size:1.5em;
    color:#fff;
    position:absolute;
    transform: rotate(-90deg);
    right:-30px;
    top:130px;
}
.detail{
    margin-top:295px;
}

.detail-top{
    /* background: url(../images/back-top.png) no-repeat center top; */
    background-size: contain;
    height: 50px;
    text-align: center;
    padding-top: 40px;

}
.detail-top::after{
    content:"";
    display: block;
    width:50px;
    height: 5px;
    border-radius: 2.5px;
    border-radius: #ddd;
    position: absolute;
    left:calc(50% - 25px);
}
.text-center{
    text-align: center;
}
.detail-body{
    padding-left:30px;
    padding-right:30px;
    background: #fff;
}
.detail-body h1{
    padding-top:0.3em;
    letter-spacing:0em;
    font-variant: small-caps;
    margin-bottom:0.7em;
}
.today-box{
    display: flex;
    padding-bottom:20px;
    border-bottom: 1px dashed #787878;

}
.today-box ul{
    color:#787878;
}
.today-box ul:first-child{
    width:40%;
}
.today-box ul:last-child{
    width:60%;
}
.today-box li{
    padding-top:8px;
    padding-bottom:8px;
}
.today-box label{
    margin-right:10px;
    font-weight: 700;
    letter-spacing: -2px;
}

.today-box i{
    margin-right:10px;
}

.five-day{
    margin-top:20px;
}
.three-times{
    padding-left:5px;
    padding-right:5px;
    text-align: center;
 
}
.five-date{
    font-weight: 700;
    color:#000;
    margin-bottom:5px;
}
.five-icon{
    text-align: center;
}
.five-icon>img{
    width:5em;
    margin:1em auto;
}
.five-temp{
    margin-top:1em;
    font-size:1.5em;
    font-weight: 700;
}
.five-descript{
    color:#787878;
    margin-top:.3em;
}
.searchbox{
    position: absolute;
    top:20px;
    right:0;
    padding:8px 10px 8px 30px;
    background: rgba(255,255,255,.7);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition:all .3s;
    width:0px;
    opacity:0px;
}
.searchbox form{
    border:1px solid #999;
    border-radius: 20px;
    padding:5px 20px;
}
.searchbox input{
    width:100%;
    font-size: 1.2em;
    padding:5px 10px;
    border:none;
    background: transparent;
}
a.btn{
    position:absolute;
    top:40px;
    right:30px;
    z-index: 999;
}
.btn i{
    font-size: 1.5em;
    color:#fff;
    position:absolute;
    z-index: 100;
    right:25px;
    transition:.3s;
}